$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 8rem;

$box-shadow-light: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-small: 0 1rem 1rem rgba($color-black, .15);
